@use 'src/common/styles/vars';
​
input[type="file"] {
  position: absolute;
  opacity:0;
  top: 15px;
  left: 0px;
  width: 200px;
  height: 40px;
}
​
.custom-button-upload {
  position: relative;
  color: #78797d;
  border: #bcbdc4 1px solid;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  padding-top: 4px;
}
​
.new-button-upload {
    z-index: -1;
    padding: 8px 12px; 
    cursor: pointer;
    border-radius: 4px;
    background-color: vars.$dark-blue;
    font-size: 12px;
    color: vars.$yellow;
    margin:1em 10px 1em 10px;
    width: 115px;
    & :hover {
      cursor: pointer,
    }
}
​
.fileName{
  font-size: 12px;
  width: 90px;
  word-break: break-all;
}
​
.image-title{
  position: absolute;
  z-index: 3;
  top: -5px;
  padding: 0 6px 0 4px;
  color: #78797d;
  font-size: 0.8rem;
  margin-left: 0.7rem;
  background-color: vars.$light-blue;  
}
