.emoji-mart { 
  width: calc(100% - 2.8em) !important ;
  margin: -2px 0 1em 1.4em !important ;
}

.formEdit{
  width: 100%;
}

.formEdit .emoji-mart { 
  width: 100% !important ;
  margin: -2px 0 1em 0 !important ;
}
