@import "src/common/styles/_vars.scss";

.navigation {
    &__logo {
        background-image: url('src/common/assets/images/logo.png');
        height: 3rem;
        background-size: 100%;
    }

    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: inherit;
    }

    &__item-link {
        color: blue;
        margin: 1rem;
        width: fit-content;
        white-space: nowrap;
    }
    &__item-link--active {
        color: red
    }
    &__button {
       background-color: $blue-dark;
       color: yellow;
    }
}
