@use '../../common/styles/vars';

.home{
  max-width: 1200px;
  margin: 0 auto ;

  &__subtitle{
    padding: 1em;
    font-size: 1.5em;
    color: vars.$dark-blue ;
  }


  &__latest-project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

