@use 'reset';
@use 'vars';

* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
}

body {
  background-color: vars.$light-blue ;
  font-family: 'Nunito', sans-serif;
  word-spacing: normal;
}

#root ::-webkit-scrollbar {
  width: 10px;
}
#root ::-webkit-scrollbar-thumb {
  background: #59B0DF;
  border-radius: 10px;
}
